<?xml version="1.0" encoding="UTF-8"?>
<queries>
    <query id="getAllUsers">
        SELECT
        *
        FROM users
    </query>

    <query id="getUserById">
        SELECT
        *
        FROM users
        WHERE user_id = ?
    </query>

    <query id="addUser">
        INSERT INTO user (name, email, password, created_at, updated_at, is_deleted)
        VALUES (?, ?, ?, ?, ?, ?)
    </query>

    <query id="updateUser">
        UPDATE users SET username = ?, email = ?, password_hash = ?, role_id = ? WHERE user_id = ?
    </query>

    <query id="deleteUser">
        DELETE FROM users WHERE user_id = ?
    </query>
</queries>