<?xml version="1.0" encoding="UTF-8"?>
<mapper>
    <query id="getAllUsers">
        SELECT
        *
        FROM users
    </query>

    <query id="getUserById">
        SELECT
        *
        FROM users
        WHERE user_id = ?
    </query>

    <query id="addUser">
        INSERT INTO users (username, email, password_hash, role_id, created_at)
        VALUES (?, ?, ?, ?, now())
    </query>

    <query id="updateUser">
        UPDATE users SET username = ?, email = ?, password_hash = ?, role_id = ? WHERE user_id = ?
    </query>

    <query id="deleteUser">
        DELETE FROM users WHERE user_id = ?
    </query>
</mapper>