<?xml version="1.0" encoding="UTF-8"?>
<queries>
    <query id="findAllTodoListByUserId">
        SELECT * FROM todo_list
        WHERE user_id = ?
        AND is_deleted != 1
        ORDER BY todo_list_id
    </query>

    <query id="findAllByUserIdAndKeyword">
        SELECT * FROM todo_list
        WHERE 1=1
        AND user_id = ?
        AND is_deleted != 1
        AND MATCH(content) AGAINST(? IN BOOLEAN MODE)
    </query>

    <query id="findUserByEmail">
        SELECT * FROM user WHERE email = ?
    </query>

    <query id="existsByEmail">
        SELECT 1 FROM user WHERE email = ?
    </query>

    <query id="addUser">
        INSERT INTO user (name, email, password, created_at, updated_at, is_deleted)
        VALUES (?, ?, ?, ?, ?, ?)
    </query>

    <query id="addTodoList">
        INSERT INTO todo_list (content, user_id)
        VALUES (?, ?)
    </query>

    <query id="updateCompletionStatus">
        UPDATE todo_list
        SET is_completed = ?
        WHERE todo_list_id = ?
    </query>

    <query id="deleteTodoList">
        UPDATE todo_list
        SET is_deleted = 1
        WHERE todo_list_id IN (
    </query>
</queries>